<!DOCTYPE html> 
	<html lang="es">
		<head>	
			<title>Menu</title>
			<meta charset="UTF-8"/>
			<!--Import Google Icon Font-->
			 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			 <!--Import materialize.css-->
			 <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
			 <!--Let browser know website is optimized for mobile-->
			 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			 <!---Estilo menu------------>
			 <link  type="stylesheet" rel="stylesheet" href="menu.css">
		</head>
		
		<body>
				 <div class="navbar-fixed">
					<nav  id="nav" class="nav-extended">
					  <div class="nav-wrapper black">
						<a href="https://www.unam.mx/" target="_blank" class="brand-logo"><img src="https://www.unam.mx/sites/all/themes/unam/logo.png"   height="60px"/></a>
						
						
					  </div>
					  <div class="nav-content">
						  <ul class="tabs blue lighten-2">
							<li class="tab"><a class="white-text" href="#test1">¿QUÉ ES LA MEDIATECA?</a></li>
							<li class="tab"><a class="white-text" href="#test2">MISIÓN</a></li>
							<li class="tab"><a class="white-text" href="#test3">VISIÓN</a></li>
							<li class="tab"><a class="white-text" href="#test5">REGLAMENTO</a></li>
							<li class="tab"><a class="white-text" href="#test6">APRENDER A APRENDER</a></li>
							<li class="tab"><a class="white-text" href="#test7">ASESORES</a></li>
							<li class="tab"><a class="white-text" href="#test8">BLOG</a></li>
							<li class="tab"><a class="white-text" href="#test9">INGLÉS</a></li>
							<li class="tab"><a class="white-text" href="#test10">VIDEOS</a></li>
							<li class="tab"><a class="white-text" href="#test11">MATERIALES</a></li>
						  </ul>
					   </div>
					</nav>

				</div>			
				<div id="test2" class="modal">
									<div class="modal-content ">
									     <h4>MISIÓN</h4>
										 <p>La Mediateca de la ENP Plantel 6 “Antonio Caso” tiene como misión ofrecer la modalidad de aprendizaje autodirigido en lenguas mediante la formación del aprendiente, la oferta de materiales y recursos de aprendizaje, así como la asesoría académica para apoyar la enseñanza y el aprendizaje de las lenguas y culturas del idioma inglés, francés, italiano y alemán de la comunidad del plantel.</p>
									</div>
									
								</div>	
								
				<div id="test3" class="modal">
									<div class="modal-content ">
									     <h4>VISIÓN</h4>
										 <p>Ofrecer mediante la modalidad de aprendizaje autodirigido, la adquisición de las cuatro habilidades de la lengua del inglés, francés, alemán e italiano; la preparación de las certificaciones, la profesionalización de la Opción Técnica en la Enseñanza de Inglés, y el mejoramiento continuo en el aprovechamiento y rendimiento de los aprendientes del Plantel 6.</p>
									</div>
									
								</div>					
				<div class="slider">
					<ul class="slides">
					  <li>
						<img src="http://www.alcazarenformacion.es/wp-content/uploads/2017/02/ART03PORTADA.jpg"> 
						<div class="caption center-align">
						  <h3 class="black-text">MEDIATECA</h3>
							<h5 class="light grey-text text-lighten-3">Bienvenido a TU mediateca</h5>
						</div>
					   </li>
					  <li>
					  <img src="https://wallpaperscraft.com/image/wine_picnic_grapes_plantation_baguette_basket_glasses_45167_3840x2160.jpg"> 
						<div class="caption center-align">
						  <h3>TALLERES</h3>
						  <h5 class="light grey-text text-lighten-3">talleres remediales de idiomas <a class="indigo waves-light btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfcq5V8pz8-HQ0fvtdRWh7uCKrC0H-7oxla21ni-wiQyPtlrg/closedform" target="blank">REGISTRATE</a>   <a class="indigo waves-light btn" href="http://www.mediateca.prepa6.unam.mx/wp-content/uploads/2017/04/Programa1.pdf" target="blank">HORARIOS</a></h5>
						</div>
					  </li>
					  <li><a href="http://www.mediateca.prepa6.unam.mx/wp-content/uploads/2017/02/CRONOGRAMA.pdf" target="blank">
						<img src="https://www.infoidiomas.com/wp-content/uploads/aspectos-mas-dificiles-aleman.jpg"> 
						<div class="caption center-align">
						  <h3>SEMINARIOS</h3>
						  <h5 class="light grey-text text-lighten-3" >Registro a seminarios permanentes</h5>
						</div>
					  </a></li>
					  <li><a href="http://www.estecesp.enp.unam.mx/PI-CIA/INFORMACION%20IMPORTANTE%20EX%C3%81MENES%20PI-CIA_%20SEDE%206_2017.pdf" target="blank">
						<img src="http://www.pastaforall.info/wordpress/wp-content/uploads/2014/04/pasta1-650x340.jpg"> 
						<div class="caption center-align">
						  <h3>PICIA</h3>
						  <h5 class="light grey-text text-lighten-3" >fechas de exámenes de CAMBRIDGE</h5>
						</div>
					  </a></li>
					 
					</ul>
				 </div>
				
		<!--------------Scripts-------------------------------------------------------------------------------------------------------------------------------------->
				<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
				<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
				
				<script>
						$(document).ready(function(){
							$('.slider').slider();
						});
						
						 $(document).ready(function(){
						// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
							$('.modal').modal();
						  });
					
				</script>	
				
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/>
				
				
				<div class="row">
       			<div class="col s12 m3">
					     <div class="card horizontal">
					      <div class="card-image">
					        <img src="http://www.vexillologymatters.org/images/united_kingdom.png">
					      </div>
					      <div class="card-stacked">
					        <div class="card-content">
					          <p>CERTIFICACIONES</p>
					        </div>
					        <div class="card-action">
					          <a href="http://www.mediateca.prepa6.unam.mx/wp-content/uploads/2017/04/PI-CIA_-SEDE.pdf" target="blank" class="indigo-text">ENTRA</a>
					        </div>
					      </div>
					    </div>
					  </div>
		        <div class="col s12 m3">
					     <div class="card horizontal">
					      <div class="card-image">
					        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/1280px-Flag_of_Europe.svg.png" height="125px">
					      </div>
					      <div class="card-stacked">
					        <div class="card-content">
					          <p>BECAS</p>
					        </div>
					        <div class="card-action">
					          <a href="http://www.mediateca.prepa6.unam.mx/?page_id=1394" target="blank" class="indigo-text">ENTRA</a>
					        </div>
					      </div>
					    </div>
					  </div>

		</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		</body>
		
	</html>